# Process the data

In [4]:
import pandas as pd
df = pd.read_csv("data/data_for_bert.csv", index_col='id')
df

,input,label,split
id,,,
pubmed45_05624,"Text: For example, when CMTMR + C6 cells were ...",0,train
pubmed45_15967,Text: Antibodies used were as follows: SMYD3 a...,0,train
pubmed45_24536,"Text: By sheer bad luck, the forms of Ras that...",0,train
pubmed45_21935,Text: Phospho-specific antibodies confirmed th...,0,train
pubmed45_17597,Text: The constitutive increase in EGFR activi...,0,train
...,...,...,...
spider_train_6995,Text: What are all the company names that have...,1,train
spider_train_6996,Text: Show the movie titles and book titles fo...,0,train
spider_train_6997,Text: What are the titles of movies and books ...,0,train
spider_train_6998,Text: Show all company names with a movie dire...,0,train
spider_train_6999,Text: What are all company names that have a c...,1,train

In [6]:
df[df['split'] == 'train'].to_csv("data/train.csv")
df[df['split'] == 'dev'].to_csv("data/dev.csv")
df[df['split'] == 'test'].to_csv("data/test.csv")

# Train

In [ ]:
!python3 train.py --dataset_df_dir data/ --splits_filename train.csv dev.csv test.csv --text_col input --y_col label --class_weight automatic --seed 42 --model_save_dir models/ --log_dir log/ --iter_time_span 1000 --csv_output_path output/roberta-base-1e-5.csv --pretrained_model roberta-base --n_epochs 1 --output_type binary --lr 1e-5

In [ ]:
!python3 train.py --dataset_df_dir data/ --splits_filename train.csv dev.csv test.csv --text_col input --y_col label --class_weight automatic --seed 42 --model_save_dir models/ --log_dir log/ --iter_time_span 100 --csv_output_path output/roberta-base-1e-5.csv --pretrained_model roberta-base --n_epochs 5 --output_type binary --lr 1e-5 --batch_size 16

In [ ]:
!python3 train.py --dataset_df_dir data/ --splits_filename train.csv dev.csv test.csv --text_col input --y_col label --class_weight automatic --seed 42 --model_save_dir models/ --log_dir log/ --iter_time_span 100 --csv_output_path output/bert-base-uncased-1e-5.csv --pretrained_model bert-base-uncased --n_epochs 5 --output_type binary --lr 1e-5 --batch_size 16